/* This file contains all styles related to adding colour to elements */
/*
    Colours:
        #F0F5F9
        #C9D6DF
        #EC9192
        #52616B
        #1E2022
*/

body {
    background-color: #f0f5f9;
    color: #1e2022;
}

/* Buttons */

.btn-secondary {
    background-color: #52616b;
}

.btn-secondary:hover {
    color: #ec9192;
}

/* Jumbotron */

.jumbotron {
    background-color: #1e2022;
    color: #f0f5f9;
}

/* Links */

.footer-link {
    color: inherit;
    text-decoration: none;
}

.footer-link:hover {
    color: #ec9192;
}

/* Nav bar */

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    /* background-color: rgba(82, 97, 107, 0.30); */
    color: #ec9192;
}

/* Sections */

.black-section {
    background-color: #1e2022;
    color: #f0f5f9;
}

.coloured-section {
    background-color: #ec9192;
    color: #1e2022;
}

/* Skills  */
.skill-img {
    color: #ec9192;
}