/* This file contains all styles related to adding colour to elements */
/*
    Colours:
        #F0F5F9
        #C9D6DF
        #EC9192
        #52616B
        #1E2022
*/

body {
    background-color: #f0f5f9;
    color: #1e2022;
}

.jumbotron {
    background-color: #1e2022;
    color: #f0f5f9;
}