/* This stylesheet contains all the rules for the footer section */

footer {
    background-image: url('../images/bg-5.png');
    background-position-y: 60%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.footer-link {
    margin: 20px;
}