/* This file contains the styles that will be used for the jumbotron */
.jumbotron {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    background-image: url('../images/jumbotron-img.png');
    background-position: 0 100%;
    background-size: 50%;
    background-repeat: no-repeat;
}


.jumbotron-text {
    margin: 50% auto;
    text-align: center;
}