/* This file contains the styles that will be used for the jumbotron */
.jumbotron {
    padding: 0;
}

.jumbotron-img {
    width: 50%;
    float: left;
}

.jumbotron-main {
    display: inline-block;
}