/* This file contains styles used for a skill block */
.skill {
    width: 50%;
    margin: auto;
    padding: 10px;
  }

  .skill-img {
    float: left;
    width: 25%;
    margin: 10px;
  }
  
  .skill-text {
    margin: 10px;
  }